* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --Cream-Yellow: #fcdc73;
    --deep-blue: #193948;
    --gray-blue: #eaf9e7;
    --black: #000000;
}

body {
    background-color: var(--Cream-Yellow);
    min-height: 100vh;
    font-family: "poppins", "san-serif";
    display: grid;
    place-content: center;
}

.illustration .author img {
    width: 100%;
    display: block;
}

.blog-card {
    background-color: var(--gray-blue);
    max-width: 400px;
    padding: 1.5rem;
    margin: 1rem;
    position: relative;
    border-radius: 1rem;
    text-align: left;
}

.blog-card::before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--black);
    position: absolute;
    top: 10px;
    right: -10px;
    border-radius: 1rem;
    z-index: -1;
}

.blog-card img {
    background-color: var(--Cream-Yellow);
    border-radius: 1rem;
}

.blog-card .learn {
    background-color: var(--Cream-Yellow);
    color: var(--deep-blue);
    width: min-content;
    padding: .5rem;
    margin-top: 1.5rem;
    font-weight: 800;
    border-radius: .5rem;
}

.blog-card .blog-date {
    margin-top: 1rem;
    font-size: 14px;
    color: var(--deep-blue);
}

.blog-card h1 {
    margin: 1rem 0;
    margin-top: .1rem;
}

.blog-card h1 a {
    color: var(--deep-blue);
    font-size: 1.2rem;
    font-weight: 800;
    line-height: 1;  
}

.blog-card h1 a:hover {
    color: var(--Cream-Yellow);
}


.blog-card .blog-bio {
    margin-top: -15px;
    margin-bottom: 15px;
    font-size: 14px;
    color: var(--deep-blue);
    line-height: 1.5;
}

.blog-card .author {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    font-size: 14px;
    color: var(--deep-blue);
}